.list-group-item {
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    b {
      margin-right: 7px;
    }
    i {
      margin-left: 7px;
    }
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 86.4px;
  z-index: 2;
  padding: 0 24px;
}

.header .logo {
  display: inline-block;
  margin-left: -16px;
  margin-right: 16px;
  padding: 24px 16px 16px;
}

.header a {
  line-height: 24px;
  text-decoration: none;
  color: #2f313f;
  font-size: 18px;
  padding: 26px 16px 27px;
}

.header a:hover {
  background-color: #e9eaee;
}

.main {
  position: relative;
  display: flex;
  background-color: #249e64;
}

.text {
  margin-left: 16px;
}

h1 {
  color: #fff;
  font-size: 72px;
  margin: 64px 0px 32px;
}

p {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin: 18px 0px;
}

.appStore {
  margin: 48px 0px 40px;
  display: inline-block;
}

.kolt {
  position: absolute;
  right: 0;
}



